= simple_form_for resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal' do |f|
  %legend= t('label.sign_in')
  = f.input :login, autofocus: true, placeholder: t('label.email_or_username')
  = f.input :password
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean, inline_label: t('label.remember_me'), label: false
  .form-actions= f.submit t('button.sign_in'), class: 'btn btn-success'

= render "users/shared/links"
