- unless user_signed_in?
  %h3= "#{t('label.or_sign_in_via')}:"

- User.omniauth_providers.each do |provider|
  - if user_signed_in?
    - has_provider = current_user.include_provider?(provider.to_s)
    = link_to omniauth_authorize_path(resource_name, provider) do
      = "#{has_provider ? 'Update' : 'Add'} #{provider.to_s.titleize} connection"
    - if has_provider
      = link_to omniauth_callback_path(provider.to_s), method: :delete, :data => { confirm: 'Are you sure?' } do
        = 'Delete'
    %br/
  - else
    = link_to "#{Provider.put_name(provider.to_s).capitalize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-small'