- unless user_signed_in?
  %h3= "#{t('label.or_sign_in_via')}:"

- User.omniauth_providers.each do |provider|
  - if user_signed_in?
    - has_provider = current_user.include_provider?(provider.to_s)
    %p
      %span{ class: "label #{has_provider ? 'label-success' : 'label-info'}" }= Provider.put_name(provider.to_s).capitalize
      - if has_provider
        = link_to omniauth_callback_path(provider.to_s), method: :delete, :data => { confirm: t('label.confirm') }, class: 'pull-right btn btn-small' do
          = t('button.delete')
      = link_to omniauth_authorize_path(:user, provider), class: 'pull-right btn btn-small' do
        = "#{has_provider ? t('button.update') : t('button.add')}"
  - else
    = link_to "#{Provider.put_name(provider.to_s).capitalize}", omniauth_authorize_path(:user, provider), class: 'btn btn-small'